
<%= image_tag "asset46.png", alt: "logo", width: 200 %>
<h2 style="font-family: andale mono;"><strong>Nea Noc</strong></h2>
<p> </p>,<p> </p>

<p style="font-family: andale mono;"><p style="font-family: andale mono;">< full stack web developer ></p> <p style="font-family: andale mono;">< privacy researcher ></p><p style="font-family: andale mono;">< interdisciplinary artist ></p><p style="font-family: andale mono;">&& language interpreter</p> </p>
<p> </p>,<p> </p>
<p style="font-family: andale mono;">contact@mail.com</p>
